export default class Config {
    public readonly geoIpApiAccessKey: string;
    public readonly weatherApiAccessKey: string;

    constructor() {
        this.geoIpApiAccessKey = '';
        this.weatherApiAccessKey = '';
    }
}
