Temp
Build
*log
*cache*
*Cache*
Artifacts
*Assemblies
*-lock
*report*
workspace.xml
contentModel.xml
indexLayout.xml
Unity/Library
node_modules
_Creepy_Cat
RPG and MMO*
*Backup*
AIO*
DevPlayground*
.vs
Debug/
Release/