@import "./font/fonts.css";

:root {
    font-size: 1vmin;
}


body {
    background: var(--background);
    color: var(--text-color);

    font-family: "REM", serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}